<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NG-Todo</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body ng-app="gameOfWords" ng-controller="wordsCtrl">
  <h1>Just type it</h1>

  <form ng-submit="addWord()">
    <h1>{{error}}</h1>
    <input type="text" ng-model="userInput" size="50" placeholder="Type">
    <input type="submit" value="Add">
  </form>

  <br>

  <div ng-repeat="item in words">
    <div ng-class="item.done ? 'done' : 'no-done'" class="todo-item">
      <span>{{item.author}}</span>
      <span ng-bind="item.text"></span>
    </div>
  </div>
  <script src="angular.js"></script>
  <script src="angular-animate.js"></script>
  <script src="script.js"></script>
</body>

</html>